.Navi {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    color: black;
    display: flex;
    width: 100%;
    height: 92px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 227, 224);
    
   
}

.Navlist {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.Nav-child {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
    transition: color 0.4s ease-in-out;
}

.Nav-child:hover {
    color: #4f7bda;
}

#SCD {
    position: relative;
    background-color: #4f7bda;
    width: 20%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Inter', 'Sanserif';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}

#SCD:hover {
    background-color: rgba(5, 5, 23, 0.881);
    cursor: pointer;
}

#logo {
    height: 70px;
    align-self: center;
    padding: 30px;
    
}

.d1{
    display: none;
}

.arrow {
    transform: rotate(45deg); 
    transition: transform 0.4s ease-in-out; 
}

#SCD:hover .arrow {
    transform: rotate(0deg);
}

#toggle-sidebar {
    display: none; /* Initially hidden */
}

@media (max-width: 1024px) {
    .d1{
        display: block;
        position: fixed;
        color: rgb(0, 0, 0);
        z-index: 19;
        top: 0;
        width: 100%;
        height: 92px;
        background-color: rgb(255, 255, 255);
        
    }
    #logo2{
        width: 80px;
        align-self: flex-start;
    }


    #toggle-sidebar {
        display: block; /* Show toggle button */
        position: fixed;
        top: 8px;
        right: 15px;
        z-index: 20; /* Above sidebar */
        background: #4f7bda;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        width: 65px;
        height: 65px;
        border-radius: 5px;
    }
    .Navi {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%; 
        height: 100%; 
        flex-direction: column; 
        border-right: 1px solid rgb(224, 227, 224);
        z-index: 10;
        transition: transform 0.5s ease;     
    }

    .Navi.active {
       
        transform: translateX(100%); 
    }

    .Navlist {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        width: 100%;
        padding: 40px 0; 
    }

    .Nav-child {
        padding: 0px 20px; 
        font-size: larger;
        width: 100%;
        text-align: left; 
    }

    #SCD {
        margin-left: 5vw;
        width: 50%; 
        margin-bottom: 15vh; 
        align-self: center;
    }

    #logo { 
        width: 80px;
        align-self: flex-start;
    }

    .arrow {
        margin-left: 10px; 
    }
}

/* Toggle Button for Sidebar (optional) */


/* Show toggle button on smaller screens */
